
/* Ширина */
@media (max-width: 1600px) {
    :root {
        --header-height: 150px;
    }

    .container {
        max-width: calc(var(--container-width-medium-monitor) + var(--container-padding-x) * 2);
    }

    .header-nav {
        column-gap: 30px;
    }

    .starters-body {
        column-gap: 50px;
    }

    .menu-item-name,
    .menu-item-price {
        font-size: 38px;
    }
}

@media (max-width: 1280px) {
    .large-title {
        font-size: 108px;
    }

    .menu-banner-body {
        max-width: 880px;
        row-gap: 20px;
    }

    .starters {
        background-size: 39.06vw auto;
    }

    .reservation {
        padding-block: 120px;
    }

    .reservation-info-wrapper {
        row-gap: 70px;
    }

    .reservation-info {
        margin-top: 60px;
    }

    .footer-contacts-input {
        height: 66px;
    }

    .footer-contacts-button {
        height: 76px;
    }

    .header-drop-menu-link {
        font-size: 48px;
    }
}

@media (max-width: 1024px) {
    .large-title {
        font-size: clamp(70px, 16.67vw, 108px);
    }

    .header-reservation-button {
        width: 225px;
        height: 68px;
    }

    .header-reservation-phone {
        font-size: 20px;
    }

    .button {
        font-size: 26px;
    }

    .header-logo {
        max-width: 207px;
    }

    .starters {
        padding-block: 90px 110px;
    }

    .starters-body {
        flex-direction: column;
        row-gap: 40px;
    }

    .starters-body-menu-list {
        row-gap: 30px;
    }

    .mains {
        padding-bottom: 110px;
    }

    .pastries-drinks {
        padding-bottom: 110px;
    }

    .reservation-info {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .footer-main {
        padding-block: 80px;
    }

    .footer-contacts-data,
    .footer-contacts-connect {
        margin-top: 35px;
    }

    .footer-contacts-connect {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

    .footer-contacts-input {
        max-width: 350px;
        height: 54px;
    }

    .footer-contacts-input::placeholder {
        font-size: 18px;
    }

    .footer-contacts-button {
        max-width: 175px;
        height: 54px;
        font-size: 18px;
    }

    .footer-end {
        padding-block: 25px;
    }

    .footer-copyright {
        letter-spacing: 0px;
    }

    .header-drop-exit {
        top: 1vh;
        left: 1vw;
        width: 65px;
        height: 45px;
    }

    .header-drop-exit > svg {
        width: 21px;
    }

    .header-drop-menu-link {
        font-size: 32px;
    }

    .header-drop-menu-link::before {
        left: -20px;
        width: 8px;
    }
}

@media (max-width: 768px) {
    .header-nav {
        width: 100%;
        justify-content: space-between;
    }

    .header-reservation {
        display: none;
    }

    .heading-five {
        font-size: clamp(24px, 4.17vw, 32px);
    }

    .menu-banner-body-subtitle {
        width: 100%;
    }

    .starters {
        background-size: 50% auto;
        padding-block: 50px 70px;
    }

    .main-title {
        font-size: clamp(70px, 16.67vw, 108px);
    }

    .starters-body-menu-list {
        row-gap: 10px;
    }

    .starters-body-image {
        min-width: 300px;
    }

    .mains {
        padding-bottom: 70px;
    }

    .pastries-drinks {
        padding-bottom: 70px;
    }

    .reservation-title {
        font-size: clamp(50px, 16.67vw, 108px);
    }

    .footer-main-wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    .footer-main-logo {
        max-width: 100%;
        text-align: center;
    }

    .footer-contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .footer-contacts-data,
    .footer-contacts-address {
        margin-top: 0;
    }

    .footer-contacts-form {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .footer-contacts-title {
        margin-top: 20px;
        text-align: center;
    }

    .footer-contacts-input,
    .footer-contacts-button {
        max-width: 100%;
    }

    .footer-contacts-form-end-text,
    .footer-copyright {
        text-align: center;
    }

    .footer-end-wrapper {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
    }

    .header-drop-wrapper {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header-drop-menu-item {
        display: flex;
        justify-content: center;
    }

    .header-drop-menu-link {
        font-size: 26px;
    }

    .header-drop-menu-link::before {
        left: -15px;
        width: 6px;
    }

    .header-drop-menu-list .header-drop-menu-item:not(:first-child) {
        margin-top: 10px;
    }

    .header-drop-contact > *:not(:first-child) {
        margin-top: 20px;
    }

    .header-drop-contact-title {
        padding-bottom: 10px;
        margin: 0 auto;
        width: 70%;
    }

    .header-drop-contact-title,
    .header-drop-contact-data,
    .header-drop-contact-address {
        text-align: center;
    }

    .header-drop-soc1als-list {
        justify-content: center;
    }
}

/* Высота */
@media (max-height: 800px) {
    :root {
        --header-height: 90px;
    }

    .header {
        padding-block: 10px;
    }

    .header-logo {
        max-width: 207px;
    }

    .button {
        font-size: 26px;
    }

    .header-reservation-phone {
        font-size: 20px;
    }

    .header-reservation-button {
        height: 100%;
    }

    .header-drop-menu-link::before {
        left: -20px;
        width: 8px;
    }
}

@media (max-height: 800px) {
    .header-drop-exit {
        top: 2vh;
        left: 1vw;
        width: 65px;
        height: 45px;
    }
}