
/* Ширина */
@media (max-width: 1600px) {
    :root {
        --header-height: 150px;
    }

    .container {
        max-width: calc(var(--container-width-medium-monitor) + var(--container-padding-x) * 2);
    }

    .header-nav {
        column-gap: 30px;
    }

    .starters-body {
        column-gap: 50px;
    }

    .menu-item-name,
    .menu-item-price {
        font-size: 38px;
    }
}

@media (max-width: 1280px) {
    .large-title {
        font-size: 108px;
    }

    .menu-banner-body {
        max-width: 880px;
        row-gap: 20px;
    }

    .starters {
        background-size: 39.06vw auto;
    }

    .reservation {
        padding-block: 120px;
    }

    .reservation-info-wrapper {
        row-gap: 70px;
    }

    .reservation-info {
        margin-top: 60px;
    }
}

@media (max-width: 1024px) {
    .large-title {
        font-size: clamp(70px, 16.67vw, 108px);
    }

    .header-reservation-button {
        width: 225px;
        height: 68px;
    }

    .header-reservation-phone {
        font-size: 20px;
    }

    .button {
        font-size: 26px;
    }

    .header-logo {
        max-width: 207px;
    }

    .starters {
        padding-block: 90px 110px;
    }

    .starters-body {
        flex-direction: column;
        row-gap: 40px;
    }

    .starters-body-menu-list {
        row-gap: 30px;
    }

    .mains {
        padding-bottom: 110px;
    }

    .pastries-drinks {
        padding-bottom: 110px;
    }

    .reservation-info {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

@media (max-width: 768px) {
    .header-nav {
        width: 100%;
        justify-content: space-between;
    }

    .header-reservation {
        display: none;
    }

    .heading-five {
        font-size: clamp(24px, 4.17vw, 32px);
    }

    .menu-banner-body-subtitle {
        width: 100%;
    }

    .starters {
        background-size: 50% auto;
        padding-block: 50px 70px;
    }

    .main-title {
        font-size: clamp(70px, 16.67vw, 108px);
    }

    .starters-body-menu-list {
        row-gap: 10px;
    }

    .starters-body-image {
        min-width: 300px;
    }

    .mains {
        padding-bottom: 70px;
    }

    .pastries-drinks {
        padding-bottom: 70px;
    }

    .reservation-title {
        font-size: clamp(50px, 16.67vw, 108px);
    }
}

/* Высота */
@media (max-height: 800px) {
    :root {
        --header-height: 90px;
    }

    .header {
        padding-block: 10px;
    }

    .header-logo {
        max-width: 207px;
    }

    .button {
        font-size: 26px;
    }

    .header-reservation-phone {
        font-size: 20px;
    }

    .header-reservation-button {
        height: 100%;
    }
}