.menu-banner {
    background: 
        url('../img/menu/background-banner-image.jpg') center center / cover no-repeat;
}

.menu-banner-body {
    width: 100%;
    max-width: 780px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    justify-content: center;
}

.menu-banner-body-subtitle {
    width: 70%;
    color: var(--color-light);
}


.starters {
    background: 
        url('../img/icons/Blueberry.png')
        top right
        no-repeat;
    padding-block: 120px 140px;
}

.main-title,
.main-subtitle {
    text-align: center;
}

.starters-body {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
}

.starters-body-image {
    width: 50%;
    max-width: 792px;
    height: auto;
}

.starters-body-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.starters-body-menu-item {
   max-width: 710px;
}

.starters-body-menu-item > *:not(:last-child) {
    margin-bottom: 26px;
}


.mains {
    padding-bottom: 140px;
}

.mains-body {
    flex-direction: row-reverse;
}


.pastries-drinks {
    padding-bottom: 140px;
}


.reservation {
    background-color: var(--color-reservation-bg);
    padding-block: 220px;
}

.reservation-info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 130px;
}

.reservation-info {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    margin-top: 185px;
}

.reservation-info-input {
    width: 100%;
    max-width: 516px;
    height: 96px;
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
    background-color: transparent;
    padding-inline: 40px 60px;
}

.reservation-info-input::placeholder {
  color: var(--color-dark);
}

.reservation-info-select {
    appearance: none; /* Убирает стандартный стиль стрелки в некоторых браузерах */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../img/icons/select-icon-angle-down.png'); /* Кастомная иконка стрелки */
    background-position: right 40px center;
    background-repeat: no-repeat;
}

.reservation-button {
    width: 100%;
    max-width: 344px;
    height: 88px;
    background-color: var(--color-footer-bg);
    font-family: var(--font-rufina);
    font-weight: 700;
    color: var(--color-light);
    border: none;
    margin: 0 auto;
    transition-duration: var(--transition-diration);
}

.reservation-button:hover {
    cursor: pointer;
    background-color: var(--color-header-bg-to-fixed);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
}