@media (max-width: 1600px) {
    .home-banner-diet {
        column-gap: 45px;
    }

    .fashion {
        padding-block: 80px 90px;
    }

    .fashion-list {
        column-gap: 30px;
    }

    .fashion-item-body {
        padding-inline: 15px;
    }

    .calories-title {
        width: 70vw;
    }
    
}

@media (max-width: 1400px) {
    .ourMenu-title,
    .ourMenu-subtitle {
        max-width: 100%;
        text-align: center;
    }

    .fashion-item-post {
        column-gap: 8px;
    }

    .fashion-item-post-dot {
        margin-left: calc(8px + var(--dotPostSize));
    }
}

@media (max-width: 1280px) {
    .home-banner-body-spices {
        max-width: 150px;
        right: 5vw;
    }

    .ourMenu-price-list {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-top: 80px;
    }

    .ourMenu-price-item {
        max-width: 710px;
        margin: 0 auto;
    }

    .cook-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 60px;
    }

    .cook-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cook-image {
        width: 60vw;
    }

    .cook-title,
    .cook-subtitle {
        width: 70%;
        text-align: center;
    }

    .food-types {
        padding-block: 100px;
    }

    .fashion-list {
        flex-direction: column;
        align-items: center;
        row-gap: 120px;
    }

    .fashion-item {
        width: 792px;
    }

    .fashion-item-body {
        padding-inline: 25px;
    }

    .calories-title {
        width: 80vw;
    }

    .calories-item-title {
        top: 28px;
        left: 20px;
    }

    .calories-item::before {
        top: 28px;
        right: 28px;
    }

    .feedback {
        padding-top: 0;
    }

    .feedback-text {
        text-align: justify;
    }
}

@media (max-width: 1024px) {
    .home-banner-body {
        background-position: 50vw 40vh;
    }

    .home-banner-body-spices {
        flex-direction: column;
        row-gap: 45px;
    }

    .home-banner-body-spices-item {
        width: 100%;
        height: auto;
    }

    .home-banner-diet {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .home-banner-diet-item {
        text-align: center;
    }

    .diet-item-shrink,
    .diet-item-image-one {
        display: none;
    }

    .ourMenu {
        padding-block: 90px;
    }

    .food-types-list {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .food-types-item {
        width: 50%;
    }

    .fashion-item {
        width: 85vw;
    }

    .calories-title {
        width: 100%;
    }

    .calories-list {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .home-banner-body {
        --scrollLineHeight: 370px;
        background-position: left var(--header-height);
    }

    .home-banner-body-scroll,
    .home-banner-body-spices {
        display: none;
    }

    .cook-title,
    .cook-subtitle,
    .cook-image {
        width: 100%;
    }

    .food-types-item {
        width: 100%;
    }

    .fashion-item-post {
        flex-wrap: wrap;
        row-gap: 15px;
    }

    .fashion-item-image-wrapper::before {
        width: 150px;
        height: 50px;
        font-size: 18px;
    }

    .calories-title {
        font-size: clamp(50px, 16.67vw, 108px);
    }

    .feedback-wrapper {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    .feedback-text {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .cook-title {
        font-size: 68px;
    }

    .fashion-item-body-title {
        font-size: 28px;
    }

    .fashion-item-body-subtitle {
        font-size: 18px;
    }

    .fashion-item-image-wrapper::before {
        width: 100px;
        height: 30px;
        font-size: 18px;
    }
}

/* Высота */
@media (max-height: 800px) {
    .home-banner-body-scroll {
        height: 300px;
    }
}

@media (max-height: 600px) {
    .home-banner-body-scroll {
        height: 200px;
    }
}