.home-banner {
    width: 100%;
    padding-bottom: 220px;
    background-color: var(--color-footer-bg);
}

.home-header-z-index {
    z-index: calc(var(--z-index-start) + 1);
}

.home-banner-body {
    --scrollLineHeight: 570px;

    height: calc(100vh + var(--scrollLineHeight));

    position: relative;
    z-index: var(--z-index-start);
    padding-top: 25vh;
    background: 
        url('../../img/index/banner-home-image-1.jpg')
        right 35vh no-repeat;
}

.home-banner-body-subtitle {
    width: 50%;
    margin-top: 50px;
    color: var(--color-light);
}

.home-banner-body-scroll {
    --transitionDirationScroll: 1s;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 10px;
}

.home-banner-body-scroll-text {
    color: var(--color-light);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.home-banner-body-scroll-line {
    width: 0; /* Нет ширины, чтобы линия была вертикальной */
    height: 400px; /* Высота линии */
    border-left: 2px dashed var(--color-light); /* Линия будет пунктирной */
    margin: 0 auto; /* Выравнивание по центру (по желанию) */
    transition-duration: var(--transitionDirationScroll);
}

.home-banner-body-scroll:hover .home-banner-body-scroll-line {
    height: 200px;
}

.home-banner-body-spices {
    position: absolute;
    right: 15vw;
    bottom: 8vh;
    display: flex;
    align-items: flex-end;
    column-gap: 45px;
}

.home-banner-body-spices-item {
    transition-duration: var(--transition-diration);
}

.home-banner-body-spices-item:hover {
    margin-bottom: 20px;
}

.home-banner-diet {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 120px;
}

.diet-item-title {
    color: var(--color-light);
}

.home-banner-diet-item > :not(:first-child) {
    margin-top: 55px;
}

.diet-item-shrink {
    max-width: 508px;
}

.diet-item-image-one {
    max-width: 792px;
}

.diet-item-image-two {
    max-width: 508px;
}

.diet-item-image-one,
.diet-item-image-two {
    width: 100%;
    height: auto;
}

.diet-item-subtext {
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-light);
}


/* Our Menu */
.ourMenu {
    background: 
        url('../../img/index/ourMenu-bg-image.png')
        top right no-repeat;
    padding-block: 180px;
}

.ourMenu-title,
.ourMenu-subtitle {
    max-width: 40%;
    text-align: left;
}

.ourMenu-price-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 60px;
    row-gap: 100px;
    margin-top: 150px;
}

.ourMenu-price-item > *:not(:last-child) {
    margin-bottom: 26px;
}


/* Cooking */
.cook {
    --imageLeafOne: url('../../img/icons/Leaf.png') 65vw bottom / 456px auto no-repeat;
    --imageLeafTwo: url('../../img/icons/Leaf-rotate.png') 2vw 7vh / 365px auto no-repeat;

    padding-top: 180px;
    background:
        var(--imageLeafOne),
        var(--imageLeafTwo),
        var(--color-reservation-bg);
}

.cook-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 60px;
}

.cook-subtitle {
    margin-top: 18px;
}

.cook-image {
    width: 49.58vw;
    height: auto;
}


/* Food types */
.food-types {
    padding-block: 190px;
}

.food-types-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
}

.food-types-image-wrapper {
    width: 260px;
    aspect-ratio: 1;
    background-color: var(--color-reservation-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
    margin: 0 auto;
    transition-duration: var(--transition-diration);
}

.food-types-image-wrapper:hover {
    width: 250px;
    background-color: var(--color-footer-bg);
    color: var(--color-light);
}

.food-types-item > :not(:first-child) {
    margin-top: 40px;
}

.food-types-image-wrapper > svg {
    width: 140px;
    height: auto;
}

.food-types-title,
.food-types-subtitle {
    text-align: center;
}


/* Posts */
.fashion {
    padding-block: 130px 150px;
}

.fashion-list {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}

.fashion-item > :not(:first-child) {
    margin-top: 60px;
}

.fashion-item-image-wrapper {
    position: relative;
    display: inline-block;
}

.image-blur-effect::after {
    content: '';
    position: absolute;
    z-index: var(--z-index-start);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 20%;
    transition-duration: var(--transition-diration);
}

.image-blur-effect:hover::after {
    background-color: var(--color-dark);
}

.fashion-item-image-wrapper::before {
    content: 'Fashion';
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: calc(var(--z-index-start) + 1);
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-rufina);
    font-size: 26px;
    line-height: 1.8;
    color: var(--color-light);
    background-color: var(--color-footer-button-bg);
    transition-duration: var(--transition-diration);
}

.fashion-item-image-wrapper:hover::before {
    background-color: var(--color-header-bg-to-fixed);
    border-radius: 10px;
    top: 18px;
    right: 18px;
}

.fashion-item-image {
    width: 100%;
    max-width: 792px;
    height: auto;
    margin: 0 auto;
}

.fashion-item-body {
    padding-inline: 75px;
}

.fashion-item-post {
    --dotPostSize: 4px;

    display: flex;
    align-items: center;
    column-gap: 14px;
}

.fashion-item-post > :not(:first-child) {
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-footer-button-bg);
}

.fashion-item-post-dot {
    position: relative;
    margin-left: calc(14px + var(--dotPostSize));
}

.fashion-item-post-dot::before {
    content: '';
    position: absolute;
    left: calc(-18px + var(--dotPostSize));
    top: 50%;
    transform: translateY(-50%);
    width: var(--dotPostSize);
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
}

.fashion-item-body-title {
    margin-top: 45px;
    padding-bottom: 18px;
    border-bottom: 4px dotted var(--color-dark);
}

.fashion-item-body-subtitle {
    padding-top: 20px;
    font-family: var(--font-lato);
    font-weight: 700;
}

.fashion-item-body-link {
    margin-top: 45px;
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-dark);
    line-height: 1;
    text-decoration: none;

    border: 2px solid transparent;
    border-radius: 10px;

    padding: 15px 25px;

    display: inline-flex;
    align-items: center;
    column-gap: 10px;

    transition-duration: var(--transition-diration);
}

.fashion-item-body-link:hover {
    cursor: pointer;
    color: var(--color-footer-button-bg);
    border-color: currentColor;
    column-gap: 20px;
}

.fashion-item-body-link > :last-child {
    width: 46px;
    height: auto;
}


/* Calories */
.calories {
    padding-block: 120px 140px;
}

.calories-title {
    width: 50vw;
    margin: 0 auto;
}

.calories-title,
.calories-subtitle {
    text-align: center;
}

.calories-list {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-top: 120px;
}

.calories-item {
    position: relative;
    max-width: 508px;
    height: auto;
}

.calories-item::before {
    content: url('../../img/icons/vectors/arrow-to-read-more.svg');
    width: 45px;
    height: auto;
    position: absolute;
    top: 48px;
    right: 48px;
}

.caloties-item-image {
    width: 100%;
    height: auto;
}

.calories-item-title {
    position: absolute;
    top: 48px;
    left: 40px;
}


/* Feedback */
.feedback {
    padding-block: 100px;
}

.feedback-text {
    max-width: 1260px;
}

.feedback-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.feedback-author {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.feedback-author-info > :not(:first-child) {
    margin-top: 10px;
}

.feedback-author-role {
    display: block;
    font-family: var(--font-lato);
    font-weight: 400;
    font-size: 18px;
    color: var(--color-headline-body);
}

.feedback-slider {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.feedback-slider-num {
    font-family: var(--font-rufina);
}

.feedback-slider-left,
.feedback-slider-right {
    width: 58px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
    background-color: transparent;
    border: none;
}

.feedback-slider-left:hover,
.feedback-slider-right:hover {
    cursor: pointer;
    color: var(--color-header-bg-to-fixed)
}

.feedback-slider svg {
    width: 48px;
    height: auto;
}