
/* Ширина */
@media (max-width: 1400px) {
    .contacted-info-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 80px;
    }

    .contacted-info-wrapper-reverse {
        padding-top: 50px;
    }

    .contacted-info-image {
        width: 100%;
    }

    .contacted-info-body h3 {
        margin-right: 0;
    }

    .contacted-info-body-text-reverse {
        text-align: center;
    }

    .contacted-info-body-button {
        display: block;
        margin-inline: auto;
    }
}

@media (max-width: 1280px) {
    .contact-banner-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 14vh;
    }

    .contact-banner-main-text-wrapper {
        max-width: 100%;
        text-align: center;
        row-gap: 10px;
    }

    .contact-banner-main-text-wrapper,
    .contact-banner-work-time-wrapper {
        height: auto;
    }

    .contact-banner-work-time-wrapper {
        padding-bottom: 5vh;
        max-width: 60%;
    }

    .contacted {
        padding-block: 200px 100px;
        background-position: center 3vh;
    }
}

@media (max-width: 1024px) {
    .contact-banner-work-time-wrapper {
        padding-bottom: 0;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .contact-banner-body {
        justify-content: space-between;
        padding-block: calc(var(--header-height) + 20px) 5vh;
    }

    .contact-banner-work-time > :last-child {
        margin-top: 15px;
    }

    .contacted {
        padding-block: 100px 30px;
        background-position: center 2vh;
        background-size: 50% auto;
    }
}

@media (max-width: 500px) {
    .work-time-day {
        flex-direction: column;
    }

    .work-time-day > :not(:first-child) {
        margin-top: 10px;
    }

    .work-time-day > p {
        max-width: 100%;
    }
}

/* Высота */