.menu-banner {
    background: 
        url('../../img/menu/background-banner-image.jpg')
        center center / 
        cover no-repeat;
}

.menu-banner-body {
    width: 100%;
    max-width: 780px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    justify-content: center;
}

.menu-banner-body-subtitle {
    width: 70%;
    color: var(--color-light);
}


.starters {
    background: 
        url('../../img/icons/Blueberry.png')
        top right
        no-repeat;
    padding-block: 120px 140px;
}

.starters-body {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
}

.starters-body-image {
    width: 50%;
    max-width: 792px;
    height: auto;
}

.starters-body-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.starters-body-menu-item {
   max-width: 710px;
}

.starters-body-menu-item > *:not(:last-child) {
    margin-bottom: 26px;
}


.mains {
    padding-bottom: 140px;
}

.mains-body {
    flex-direction: row-reverse;
}


.pastries-drinks {
    background: 
        url('../../img/icons/Avocado.png')
        top center/
        14vw auto
        no-repeat;
    padding-block: 80px 140px;
}

.pastries-drinks-body {
    margin-top: 140px;
}